extends ../layout.pug

block contenido
  button.btn.btn-secondary#btn-volver(type="button" onclick="history.back()") ← Volver atrás
  .container
    //- Título con estilo
    h1.text-center(style="font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 2.5rem; margin-bottom: 30px;")
      | #{nombre} #{apellido} - #{especialidad.nombre}

    //- Agenda de Turnos
    table.table.table-bordered
      thead
        tr
          th Fecha
          th Hora
          th Paciente
          th Motivo
          th Estado
          th Transferir turno

      tbody
        
        - let fechaActual = '';

        each item in agenda
          - let mostrarFecha = item.fecha !== fechaActual;
          - if (mostrarFecha) {
          -   fechaActual = item.fecha;
          - }

          tr(
            class= item.tipo === 'ocupado' 
              ? 'table-danger' 
              : item.tipo === 'bloqueado' 
                ? 'table-warning' 
                : 'table-success'
          )
            td= mostrarFecha ? item.fecha : '' 
            td
              | #{item.hora.includes('-') ? item.hora : item.hora.slice(0, 5)}
            td= item.paciente || 'N/A'
            td= item.motivo || 'N/A'
            td
              if item.tipo === 'ocupado'
                //span(style="color: red;") Ocupado
                span(style="color: red;") #{item.estado} 
                if item.estado === 'Reservada'

              else if item.tipo === 'bloqueado'
                span(style="color: orange;") Bloqueado
              else
                span(style="color: green;") Disponible
            td
              if item.tipo === 'ocupado' 
                a.btn-transfer(href=`/transfer-turno?id_turno=${item.id_turno}`) 🔄
              else if item.tipo === 'bloqueado'
                | 🔒




                



                








    
